* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: rgb(90, 90, 89);
  font-family: "Karla", sans-serif;
}
main {
  background-color: beige;
  height: 500px;
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dices-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die {
  background-color: rgba(232, 232, 191, 0.753);
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die h2 {
  font-size: 2rem;
}
.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: rgb(96, 96, 78);
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
